/* global styles */
*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
}
body{
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;
}
/* /global styles */



/* HEADER SECTION */
    /* top header */
.header {

}
.top-header{
    background-color: #f6f6f6;
    padding: 3rem 0;
    margin-bottom: 1rem;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo-link {
    background-color:#fff;
    padding: 0.9rem 0.6rem 0.8rem 0.6rem;
    border-radius: 7px;
}
.header-logo-link svg  path:hover{
    opacity: 0.8;

}
.header-logo-link svg  path:active{
    opacity: 0.6;

}
.currency-rates {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
}
.currency-rates__item:first-child {
    margin-right: 2.5rem;

}
.currency-rates__emblem {
    color: #2959ce;
    font-size: 1.9rem;
    font-weight: 700;
    margin-right: 0.2rem;
}
.currency-rates__num {
    font-size: 1.6rem;
}
.form__search-in{
    margin-left: auto;
}
.search-in {
    width: 275px;
    font-size: 1.4rem;
    padding: 1.5rem 1rem 1.3rem 4.1rem;
    border-radius: 6rem;
    margin-right: 2.8rem;
    background-color: #fff;
    background-image: url("../photos/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 17px 15px;
    background-size: 15px 15px;
    border: none;
    outline: none;
}
.lang-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 36px;
    border-radius: 39px;
    padding: 0.3rem;
    background-color:#DCE6FF;
    margin-right: 2.5rem;
}
.lang-toggler__item:hover{
    color: #7296EC;
}
.lang-toggler__item:active{
    color: #7296EC;
    opacity: 0.6;
}
.lang-toggler__item{
    width: 30px;
    height: 30px;
    padding: 8px ;
    border-radius:50%;
    color: #a6a6a6;
    font-size: 1.3rem;
    text-decoration: none;
}

.active {
    color:#000;
    background-color: #fff;
}
.primary-btn:hover{
    opacity: 0.8;
}
.primary-btn:active{
    opacity: 0.6;
}
.primary-btn{
    font-weight: 500;
    font-size:  1.6rem;
    line-height: 18.96px;
    padding: 13px 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #7296EC;
    text-decoration: none;
}
    /* bottom header */
.bottom-header {
    background-color: #fff;
    }

.bottom-header-nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem 0;
    border-bottom: 1px solid #D1D1D1;
    
}
.bottom-header-nav-item:not(:last-child){
    margin-right: 34.44px;
}
.bottom-header-nav-item a:hover{
    color: #7296EC;
}
.bottom-header-nav-item a:active{
    color: #7296EC;
    opacity: 0.8;
}
.bottom-header-nav-item a{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21.33px;
    color: #7F7F7F;
    text-decoration: none;
    text-align: center;


}
.bottom-header-banner {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 5rem;

}
/* MAIN SECTION */
.main {
}
.main-collection { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-collection-item {
    width: 393px;
    height: 382px;
    margin-bottom: 1rem;
    padding:20px 17px 15px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
}
.main-collection-link {
    text-decoration: none;
    

}
.main-clln-title:hover{
    color: #7296EC;
    text-decoration: underline;
}
.main-clln-title:active{
    color: #7296EC;
    text-decoration: underline;
    opacity: 0.6;
}
.main-clln-title {
    width: 358px;
    height: 78px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #000000;
    margin-bottom: 1rem;

}
.main-clln-subtitle {
    width: 346px;
    height: 44px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    color: #4A4B4C;
    margin-bottom: 1.5rem;
    

}
.main-clln-img {

}
.recomment-parent{
    display: flex;
    align-items: center;
}
.main-clln-img-wrap{
    margin-bottom: 1.5rem;
}
}
.main-clln-icon-img {
    border-radius: 10px;
    margin-right: 1rem;
    padding-left: 1.7rem;
    display: inline-block;
}  
.main-clln-recomment-wrap {
    display: flex;
    align-items: center;

    
}
.main-clln-rec-img{
    margin-right: 1rem;
}
.main-clln-rec-text{
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14.22px;
    color: #5E5F61;
}




/* MAIN features */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    height: 100px;
    margin: 6rem auto;
    border-radius: 10px;
    padding: 0 7.1rem 0 2.9rem;
    background-image: url("../photos/features.jpg");
    background-repeat: no-repeat;
}
.features-text {
    width: 404px;
    height: 52px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #000000;
}
.features-btn:hover{
    background-color:#F78B3B;
    opacity: 0.8;
}
.features-btn:active{
    background-color:#F78B3B;
    opacity: 0.6;
}
.features-btn {
    font-weight: 500;
    font-size: 2rem;
    line-height: 23.7px;
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    background-color:#F78B3B;
    padding: 1.3rem 3rem;
}

/* MAIN BM SECTION */
.main-bm {
    display: flex;
    
}
.main-bm-left {
    margin-right: 1rem;

}
.main-bm-top-title:hover{
    color: #7296EC;
    cursor: pointer;
}
.main-bm-top-title{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28.44px;
    color: #000;
    margin-bottom: 2rem;
}
.main-left-linker:not(:last-child){
    display: inline-block;
    margin-bottom: 1rem;
}
.mai-left-linker:last-child{
    margin-bottom: 2rem;
}
.main-left-linker{
    text-decoration: none;
}
.main-bm-item {
    display: flex;
    align-items: center;
    width: 797px;
    height: 205px;
    padding: 2rem 2rem 2rem 1.7rem;
    border-radius: 15px;
    background-color: #F6F6F6;
}
.main-bm-img {
    margin-right: 1.5rem;
}
.main-bm-left-wrapper {
}
.main-bm-wrap-title:hover{
    color: #7296EC;
    text-decoration: underline;
}
.main-bm-wrap-title:active{
    color: #7296EC;
    text-decoration: underline;
    opacity: 0.6;
}

.main-bm-wrap-title {
    width: 535px;
    height: 52px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color:#000000;
    margin-bottom: 1rem;
}
.main-bm-wrap-subtitle {
    width: 535px;
    height: 66px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    color:#4A4B4C;
    margin-bottom: 2rem;
}
.main-bm-reccomend {
    display: flex;
    align-items: center;
}
.recommend-img{
    margin-right: 1rem;
}
.recommend-text{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14.22px;
    color: #5e5f61;
}
.main-bm-btn:hover{
    background-color: #7296EC;
    color:#fff;
}
.main-bm-btn:active{
    background-color: #7296EC;
    color:#fff;
    opacity: 0.6;
}
.main-bm-btn{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 18.96px;
    border-radius:10px;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.7rem 0;
    color: #0c0101;
    text-align: center;
    background-color:#EAEAEA;
    margin-bottom: 10rem;

}
/* SIDE BAR */
.main-bm-right {


}
.sidebar-wrapper {
    width: 393px;
    height: 502px;
    padding: 2rem 1.7rem 2.5rem 1.7rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    background-color: #F6F6F6;
}
.sidebar-wrapper-title:hover{
    color: #7296EC;
    cursor: pointer;
}
.sidebar-wrapper-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28.44px;
    color: #000;
    margin-bottom: 2.5rem;
}
.sidebar-in-wrappwer {
}
.sideber-in-wrap-title:hover{
    color: #7296EC;
    text-decoration: underline;
    cursor: pointer;
}
.sideber-in-wrap-title:active{
    color: #7296EC;
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.6;
}

.sideber-in-wrap-title {
    width: 356px;
    height: 48px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 24px;
    color:#000;
    margin-bottom: 0.8rem;
}
.sidebar-in-wrap-text {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15.41px;
    color: #5E5F61;
    margin-bottom: 2rem;
}
.sidebar-hr {
    color: #D2D2D2;
    margin-bottom: 2rem;

}
.sidebar-img {
}
/* FOOTER SECTION */
.footer {
    padding: 4rem 0;
    background-color: #7297EF;
}
.footer-wrap {
    width: 1050px;
    margin: 0 auto;
    

}
.footer-logo-link svg path:hover{
    color: #7296EC;
    opacity: 0.8;

}
.footer-logo-link svg path:active{
    color: #7296EC;
    opacity: 0.6;
}
.footer-logo-link{
    display: inline-block;
    margin-bottom: 1.5rem;
}
.footer-in-wrap { 
    display: flex;
    
}

.footer-in-wrap-left-text {
    width: 229px;
    height: 95px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height:1.9rem;
    color: #FFFFFF;
    margin-right: 20.3rem;
}
.footer-in-wrap-right-list:not(:last-child) {
    margin-right: 10rem;
}
.footer-in-wrap-right-list{
    list-style: none;
}
.footer-in-wrap-right-1{
    margin-right: 10rem;
}
.footer-in-wrap-right-2{

}
.footer-in-wrap-item a:hover{
    color: #b4c6f0;
    
}
.footer-in-wrap-item a:active{
    color: #c5d3f5;
}
.footer-in-wrap-item a{
    display: inline-block;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 18.96px;
    color: #fff;
    margin-bottom: 2rem;
    text-decoration: none;

} 
/* socials  */
.hr-top-socials {
    margin-bottom: 2rem;
}
.social-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-text {
    width: 161px;
    height: 46px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 23px;
    color:#fff;
}
.social-icons a:not(:last-child){
    margin-right: 2.5rem;
}
                        /*      PAGE 2      */
/* header  */
/* main  */
.main {
}
.main-clln-page2 {
    display: flex;
}

.main-clln-top-title{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.844rem;
    color: #000;
    margin-bottom: 2rem;
}

.main-clln-left-page2 {
    margin-right: 1rem;
}
.main-clln-item {
    width: 797px;
    height: 205px;
    display: flex;
    padding: 2rem 2rem 2rem 1.7rem;
    background-color: #F6F6F6;
    border-radius: 15px;
    
}
.main-clln-item:not(last-child){
    margin-bottom: 1rem;
}
.main-clln-linker{
    text-decoration: none;
    
}
.main-clln-img {
    width: 210px;
    height: 165px;
    margin-right: 1.5rem;
}
.main-clln-wrap {
    
}
.wrap-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000;
    margin-bottom: 1rem;
}
.wrap-subtitle {
    width: 535px;
    height: 66px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #4A4B4C;
    margin-bottom: 1.7rem;
}
.main-clln-recommend {
    display: flex;
    align-items: center;
}
.main-clln-recommend-img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
.main-clln-recommend-text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.422rem;
    color: #5e5f61;
    margin-right: 0.3rem;
}
.main-clln-recommend-date-time {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.422rem;
    color: #5e5f61;
    
}
.main-clln-left-bm-btn{
    width: 797px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.896rem;
    color: #000;
    display: inline-block;
    background-color: #EAEAEA;
    border-radius: 1rem;
    padding: 1.7rem ;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10rem;
}
.main-clln-right-page2 {
}
.main-clln-right-linker {
    text-decoration: none;
    display: flex;
}
.main-clln-right-item {
    width: 393px;
    height: 502px;
    padding: 2rem 1.7rem 2.5rem 1.7rem;
    background-color: #F6F6F6;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}
.main-clln-right-item-top-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.844rem;
    color: #000;
    margin-bottom: 2rem;
}
.main-clln-right-item-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000;
    margin-bottom: 0.8rem;
}
.main-clln-right-item-recommend {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.541rem;
    color: #5E5F61;
    margin-bottom: 2rem;
}
.main-clln-right-item-recommend:not(:last-child){
    

}
.sidebar-hr {
}
.main-clln-right-item-img{
    width: 393px;
    height: 553px;

}
                /* page 3 */
/* MAIN */

.main-top {
    display: flex;
}
.main-top-left {
    width: 797px;
    height: 1257px;
    margin-right: 1rem;
    margin-bottom: 12rem;
}
.main-top-left-t-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 3.6rem;
}
.main-top-left-t-wrap-text 
{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.659rem;
    color: #5E5F61;
    margin-left:1rem ;
    margin-right: 0.4rem;
}
.main-top-left-data-time {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.659rem;
    color: #5E5F61;

}
.linker{
    text-decoration: none;
    
}
.main-top-left-title {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #000;
    margin-bottom: 2rem;
}
.main-top-left-img{
    
}
.text-uni {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #000;
}
.main-top-left-text1,
.main-top-left-text2,
.main-top-left-text3,
.main-top-left-text4,
.main-top-left-text5
{
    margin-bottom: 2.4rem;
}
.main-top-left-text1{
    margin-top: 2.5rem;
}
.main-top-left-text6{
    margin-bottom: 5rem;
}

/* top right part */
.main-top-right {
    

}
.main-top-right-wrap {
    width: 393px;
    height: 613px;
    background-color: #f6f6f6;
    border-radius:15px;
    margin-bottom: 1rem;
    padding: 2rem 1.7rem 2.5rem 1.7rem;

}
.main-top-right-wrap a{
    text-decoration: none;
}
.right-wrap-top-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.844rem;
    color: #000;
    margin-bottom: 2.5rem;
}
.right-wrap-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000;
    
}
/* title style with his parent element /\ */
.main-top-right-wrap h3{
    margin-bottom: 0.8rem;
}
.right-wrap-data-time,
.right-wrap-subtitle {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.541rem;
    color: #5e5f61;
    display: inline-block;
    margin-bottom: 2rem;

}
.hr-line-page3{
    margin-bottom: 2rem;
    
}
.right-wrap-data-time {
  
}
/* main bottom */
.main-bottom {
    margin-bottom: 10rem;

}
.main-bottom-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.844rem;
    color: #000;
    margin-bottom: 2rem;
}
.main-bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-bottom-item {
    width: 393px;
    height: 207px;
    border-radius:1.5rem;
    padding: 2rem 1.8rem 1.8rem 1.7rem;
    background-color: #F6F6F6;
}
.main-bottom-item a{
    text-decoration: none;
}
.main-bottom-item-title {
    width: 358px;
    height: 78px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000;
    margin-bottom: 1rem;
}
.main-bottom-item-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #4a4b4c;
    margin-bottom: 2rem;
}
.main-bottom-item-wrap {
    display: flex;
    align-items: center;

}
.main-bottom-item-wrap-img{
    margin-right: 1rem;
}
.main-bootom-item-text, 
.main-bottom-item-date-time{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.422rem;
    color: #5e5f61;
}
.main-bootom-item-text {
    margin-right: 0.4rem;
}
/* page 4 */
.main {
}
.main-wrap {
    display: flex;
    margin-bottom: 10rem;
    
}
.main-left {
    width: 696px;
    margin-right: 1rem;
}
.main-left-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.844rem;
    color: #000;
    margin-bottom: 2rem;
}
.main-left-form {
}
.main-left-input {
    width: 343px;
    height: 55px;
    border-radius: 1rem;
    outline: none;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.8rem 0 1.8rem 2rem;
    border-color: #ddd4d4;
    margin-bottom: 1rem;
}
.fff{
    margin-right:0.75rem ;
}
.main-left-input:not(:last-child){
    margin-right: rem;
}
    
.main-left-input-block1 {
    width: 696px;
    height: 55px;
    border-radius:1rem;
    outline: none;
    border-color: #ddd4d4;
    font-size: 1.6rem;
    padding: 1.8rem 0 1.8rem 2rem;
    display: block;
    margin-bottom: 1rem;
}
.main-left-input-block2 {
    width: 696px;
    height: 180px;
    outline: none;
    border-color: #ddd4d4;
    font-size: 1.6rem;
    border-radius:1rem;
    resize: none;
    padding: 1.8rem  0 0 2rem;
    display: block;
    margin-bottom: 2rem;
}
.main-left-btn {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.896rem;
    color: #fff;
    border: none;
    background-color: #7297EF;
    padding:1.7rem 3rem;
    border-radius:1rem;
    display:block;
    margin-left:auto;
}
.main-right {
    width: 494px;
    height: 310px;
    border-radius:1rem; 
    background-color: #F6F6F6;
    padding: 4rem 2.5rem;
}
.main-right-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.37rem;
    color: #000;
    margin-bottom: 0.7rem;
}
.main-right-subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.896rem;
    color: #000;
    margin-bottom: 2rem;
}
.main-right-hr {
    margin-bottom: 2rem;
}